## BAP Assignment 4

#### 1. List Operations:  
Perform the following operations on the list. Start by printing the initial list that is accepted as the function argument in the last line of this code block.   
```
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
```   
a. Add the values 'k', 'l', 'm' to the list using one command and print the result.    
```
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']
``` 

b. Add the list ['nn','oo'] to the list using one command and print the result.    
```
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm', ['nn', 'oo']]
```   
c. Delete the last item from the list and print the result. 
```
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']
```
d. Show how to access the value 'ddd' by printing only this value. 
```
ddd
```
e. Delete the value 'ee' from the list and print the result. 
```
['a', ['bb', ['ccc', 'ddd'], 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']
```

In [30]:
def nested_list(lst):
    # start by printing the initial state of the list
    print(lst)

    # a. Add the values 'k', 'l', 'm' to the list using one command
    lst.extend(['k','l','m'])
    print(lst) 
    # should return ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']

    # b. Add the list ['nn','oo'] to the list using one command
    lst.append(['nn','oo'])
    print(lst)
    # should return ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm', ['nn', 'oo']]

    # c. Delete the last item from the list
    lst.pop(-1)
    print(lst)
    # should return ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']

    # d. Show how to access the value 'ddd' and print this output
    print(lst[1][1][1])

    # e. Delete the value 'ee' from the list
    lst[1].remove('ee')
    print(lst)
    # should return ['a', ['bb', ['ccc', 'ddd'], 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']

# Run the function using the 'data' object defined below
data = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
nested_list(data)

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm', ['nn', 'oo']]
['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']
ddd
['a', ['bb', ['ccc', 'ddd'], 'ff'], 'g', ['hh', 'ii'], 'j', 'k', 'l', 'm']

#### 2. Dictionary Operations
Write a function referencing the parameter "dct" to perform the following operations. Run the function using the dictionary called "inventory" as an argument. 

Start by printing the original dictionary:
```
{'iphone': 40, 'ipad': 17, 'macbook': 12, 'monitor': 5}
```

a.  Add the key value pair "stylus": 16 and print the result.     
```
{'iphone': 40, 'ipad': 17, 'macbook': 12, 'monitor': 5, 'stylus': 16}
```
b.  Update the ipad inventory to 19 then print the result. 
```
{'iphone': 40, 'ipad': 19, 'macbook': 12, 'monitor': 5, 'stylus': 16}
```
c.  Remove the key value pair, "monitor": 5 then print the result.
```
{'iphone': 40, 'ipad': 19, 'macbook': 12, 'stylus': 16}
```
d.  Extract each of the values in the dictionary and add them to the list called counts. Print the counts list. 
```
[40, 19, 12, 16]
```

In [31]:
def dict_operations(dct):
    # print the original dictionary
    print(dct)

    # a. Add the key value pair "stylus": 16 
    dct['stylus']=16
    print(dct)

    # b. Update the ipad inventory to 19
    dct['ipad']+=2
    print(dct)

    # c. Remove the key value pair, "monitor": 5
    del(dct['monitor'])
    print(dct)

    # d. Extract each of the values in the dictionary and add them to the list called counts
    counts=[]
    for i in dct:
        counts.append(dct[i])
    print(counts)

# Run the function on the following data
inventory = {
    "iphone": 40,
    "ipad": 17,
    "macbook": 12,
    "monitor": 5    
}

dict_operations(inventory)

{'iphone': 40, 'ipad': 17, 'macbook': 12, 'monitor': 5}
{'iphone': 40, 'ipad': 17, 'macbook': 12, 'monitor': 5, 'stylus': 16}
{'iphone': 40, 'ipad': 19, 'macbook': 12, 'monitor': 5, 'stylus': 16}
{'iphone': 40, 'ipad': 19, 'macbook': 12, 'stylus': 16}
[40, 19, 12, 16]

#### 3. Extracting Semi-Structured Data

For the data structure seen here:

```
stocks=[
    {
        "symbol": "ARAY",
        "sector": "healthtechnology",
        "lastSalePrice": 4.865
    },
    {
        "symbol": "CPS",
        "sector": "producermanufacturing",
        "lastSalePrice": 50.31
    },   
    {
        "symbol": "BOND",
        "sector": "miscellaneous",
        "lastSalePrice": 104.8
    }  
]
```
Write a program to automate the process seen below. That is write a for loop to achieve the same output. 
```
prices=[]
prices.append(stocks[0]['lastSalePrice'])
prices.append(stocks[1]['lastSalePrice'])
prices.append(stocks[2]['lastSalePrice'])
print(prices)
```
Expected output is:
```
[4.865, 50.31, 104.8]
```

In [32]:
# Nested data

def nested_data(dct):
    lst=[]
    for i in dct:
        lst.append(i['lastSalePrice'])
    print(lst)

# Run the function on the stocks data defined below.

stocks=[
    {
        "symbol": "ARAY",
        "sector": "healthtechnology",
        "lastSalePrice": 4.865
    },
    {
        "symbol": "CPS",
        "sector": "producermanufacturing",
        "lastSalePrice": 50.31
    },   
    {
        "symbol": "BOND",
        "sector": "miscellaneous",
        "lastSalePrice": 104.8
    }  
]

nested_data(stocks)

[4.865, 50.31, 104.8]

#### 4.  Converting JSON Data  

JSON is a very common format for data on the web because it is so easy to transport, however, we need our data to be in json format in order to perform analysis. 

a.  Convert the following JSON data into python data. Make sure to import the appropriate library first.  
```
json_data='[{"A": [1,2]}, {"B": [3,4]}]'
```
Check all the data and the data types within the converted data to show that the conversion worked.

b.  Convert the following python data into JSON data

```
stocks=[
    {
        "symbol": "ARAY",
        "sector": "healthtechnology",
        "lastSalePrice": 4.865
    },
    {
        "symbol": "CPS",
        "sector": "producermanufacturing",
        "lastSalePrice": 50.31
    },   
    {
        "symbol": "BOND",
        "sector": "miscellaneous",
        "lastSalePrice": 104.8
    }  
]
```
Check the data type of this data object.

In [33]:
def convert_to_python(data):
    # Load the json library
    import json

    # a. Convert to a python data object and print the result
    python_data=json.loads(data)
    print(python_data)

    # Check the data types
    print(python_data, type(python_data))
    print(python_data[0], type(python_data[0]))
    print(python_data[0]["A"], type(python_data[0]["A"]))


json_data='[{"A": [1,2]}, {"B": [3,4]}]'
convert_to_python(json_data)

[{'A': [1, 2]}, {'B': [3, 4]}]
[{'A': [1, 2]}, {'B': [3, 4]}] <class 'list'>
{'A': [1, 2]} <class 'dict'>
[1, 2] <class 'list'>

In [34]:
def convert_to_json(data):
    # Load the json library
    import json

    # b. Convert the following to json data


    json_stocks=json.dumps(data)

    # Print the data and check the data type of the converted data object
    print(json_stocks)
    print(type(json_stocks))

stocks=[
    {
        "symbol": "ARAY",
        "sector": "healthtechnology",
        "lastSalePrice": 4.865
    },
    {
        "symbol": "CPS",
        "sector": "producermanufacturing",
        "lastSalePrice": 50.31
    },   
    {
        "symbol": "BOND",
        "sector": "miscellaneous",
        "lastSalePrice": 104.8
    }  
]

convert_to_json(stocks)

[{"symbol": "ARAY", "sector": "healthtechnology", "lastSalePrice": 4.865}, {"symbol": "CPS", "sector": "producermanufacturing", "lastSalePrice": 50.31}, {"symbol": "BOND", "sector": "miscellaneous", "lastSalePrice": 104.8}]
<class 'str'>

#### 5.  Extracting JSON data from an API 
This website, https://domainsdb.info/, allows users to find domain names. Here is the structure of the data in the API:
![domains](https://drive.google.com/uc?id=1gnVzeME3rZ9DqNxV1oKNR0UNephbf_Pj)        

a. Use the requests library to get the data from the url: https://api.domainsdb.info/v1/domains/search?domain=census. Be sure to convert from JSON format into python data (there are two ways this could be accomplished). Check and print the data type of the object returned by this action. 

```
<class 'dict'> 
```
b. Print all of the keys in the dictionary. 

```
domains
total
time
next_page
```

c. Access and print the first domain name in the dictionary.   

```
census-iroda.hu 
```

d. Write a for loop to collect all of the domain names in a list. Print this list. 

```
['census-iroda.hu', 'us-census-bureau.net', 'online-census-survey.net', 'census-online.net', 'census-2021.net',  .....
```

In [35]:
def extract_domains(url):
    # get request converted from json
    import requests
    response=requests.get(url).json()
    print(type(response),'\n')

    # b. Print all of the keys
    for key in response:
        print(key)
    print('\n')

    # c. Access the first domain name in the data object.
    print(response['domains'][0]['domain'],'\n')

    # d. Collect all of the domain names in a list.

    dmn=[]
    for i in response['domains']:
        dmn.append(i['domain'])
    print(dmn)

# Run the function with the domain_api as an input
domain_api="https://api.domainsdb.info/v1/domains/search?domain=census"
extract_domains(domain_api)

<class 'dict'>

domains
total
time
next_page


census-iroda.hu

['census-iroda.hu', 'us-census-bureau.net', 'online-census-survey.net', 'census-online.net', 'census-2021.net', 'census-info.net', 'census-2020.net', 'census-steuerberatung.net', '2020-census-survey.net', '2020-census-survey-online.net', 'raw-census-auction.store', 'census-update.online', 'census-uk-application.net', 'census-secure.live', 'census-ot.net', 'my-census-2020.us', 'my-census-2020.net', 'census-bureau.us', 'census-2020.us', 'us-census-bureau.us', '2020-us-census-gov.us', 'us-census-bureau-gov.us', 'census-bureau-gov.us', '2020-census-gov.us', 'census-2010.us', 'census-visualization.site', 'census-gov.us', 'census-data.us', 'census-info.us', 'census-records.us', 'census-online.us', 'start-census-online.net', 'respond-to-census-online.net', 'respond-census-online.net', 'online-census-form.net', 'fill-out-census-online.net', 'fill-in-census-online.net', 'complete-census-online.net', 'census-test.net', '2020-census-form.net', '2020-census-form-online.net']

#### 6.  Pulling Data from XML
We have learned about two common ways of storing web data. Many organizations collect and transport data in XML format. The object of this exercise is to create a function to extract specific data values from an XML tree. The function will be tested on the following XML data. 
```
<Bookstore>
   <Book ISBN="ISBN-13:978-1599620787" Price="15.23" Weight="1.5">
      <Title>New York Deco</Title>
      <Authors>
         <Author Residence="New York City">
            <First_Name>Richard</First_Name>
            <Last_Name>Berenholtz</Last_Name>
         </Author>
      </Authors>
   </Book>
   <Book ISBN="ISBN-13:978-1579128562" Price="15.80">
      <Remark>
      Five Hundred Buildings of New York and over one million other books are available for Amazon Kindle.
      </Remark>
      <Title>Five Hundred Buildings of New York</Title>
      <Authors>
         <Author Residence="Beijing">
            <First_Name>Bill</First_Name>
            <Last_Name>Harris</Last_Name>
         </Author>
         <Author Residence="New York City">
            <First_Name>Jorg</First_Name>
            <Last_Name>Brockmann</Last_Name>
         </Author>
      </Authors>
   </Book>
</Bookstore>
```

#### Please perform the following
a. Print all the element tags in the tree.  
```
Bookstore
Book
Title
Authors
Author
First_Name
Last_Name
Book
Remark
Title
Authors
Author
First_Name
Last_Name
Author
First_Name
Last_Name

```
b. Print all the author's last names.
```
Berenholtz
Harris
Brockmann
```
c. The following will print the last name of the book that weighs 1.5 units  
```
print(root.find('Book[@Weight="1.5"]/Authors/Author/Last_Name').text)
```
Using the above sample code as a reference, identify and print the last name of the author who's residence is Beijing.  
```
Harris
```

In [36]:
def xml_data_extract(xml_data):
    from lxml import etree
    root=etree.XML(xml_data)

    # a. print all the element tags in the tree, use the iterator function
    for i in root.iter():
        print(i.tag)
    print('\n')

    # b. print all the author's last names  
    for i in root.iter('Author'):
        print(i.find('Last_Name').text)
    print('\n')

    # c. Print the last name of the author who's residence is Beijing
    print(root.find('Book/Authors/Author[@Residence = "Beijing"]/Last_Name').text)
    
data_string = """
<Bookstore>
   <Book ISBN="ISBN-13:978-1599620787" Price="15.23" Weight="1.5">
      <Title>New York Deco</Title>
      <Authors>
         <Author Residence="New York City">
            <First_Name>Richard</First_Name>
            <Last_Name>Berenholtz</Last_Name>
         </Author>
      </Authors>
   </Book>
   <Book ISBN="ISBN-13:978-1579128562" Price="15.80">
      <Remark>
      Five Hundred Buildings of New York and over one million other books are available for Amazon Kindle.
      </Remark>
      <Title>Five Hundred Buildings of New York</Title>
      <Authors>
         <Author Residence="Beijing">
            <First_Name>Bill</First_Name>
            <Last_Name>Harris</Last_Name>
         </Author>
         <Author Residence="New York City">
            <First_Name>Jorg</First_Name>
            <Last_Name>Brockmann</Last_Name>
         </Author>
      </Authors>
   </Book>
</Bookstore>
"""

xml_data_extract(data_string)

Bookstore
Book
Title
Authors
Author
First_Name
Last_Name
Book
Remark
Title
Authors
Author
First_Name
Last_Name
Author
First_Name
Last_Name


Berenholtz
Harris
Brockmann


Harris